#name {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#image1 {
  display: block;
  float: left;
  position: absolute;
  text-align: center;
}

#image2 {
  display: block;
  float: right;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 600px;
}

#content {
  margin-left: 450px;
  margin-right: 50px;
  margin-top: 100px;
  text-align: justify;
}

#content2 {
  margin-left: 50px;
  margin-right: 450px;
  margin-top: 275px;
  text-align: justify;
}

#letsconnect {
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
  text-align: justify;
}